/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
	flex-direction: column;
	width: 65%;
	padding: 30px;   
}

.hebergements-cards{   
    display: flex;
    gap: 40px;
    height: fit-content;
    flex-wrap: wrap;
    margin-left: 5px;


    

}


.hebergements-cards .card {
    display: flex;
    
    flex-direction: column;
   
    
  
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   

    
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    
}



.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-top: 5px;
}


.hebergements .card {
    background-color: white;
    border-radius: 20px;
	width: 30%;
	height: 200px;
	
    min-width: 230px;
}

.hebergements .section-title{
    margin-left: 3px;
    margin-bottom: 33px;
}

.plus{
    font-weight: bold;
    font-size: 17px;
    
    margin-right: 670px;
    margin-top: 15px;
    margin-bottom: 10px;  
     
    
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}

#logo{
    width: 60px;
}

#menu{
    display: flex;
    gap: 40px;
    list-style: none;
    
    
}
#menu li{
    border-top: 1px solid transparent;
}


#menu :hover{
    border-top: 1px #0065FC solid;
    color: #0065FC;
    
}


.recherche form{
    display: flex;
    margin-bottom: 10px;
    margin-top: 30px;
    width: 530px;
    height: 42px;
    
}

.fa-location-dot{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    border:solid 1px #F2F2F2;
    background-color: #F2F2F2;
    padding: 5px;
    width: 45px;
    height: 30px;
}

#buttonRecherche{
    display: flex;
    border-radius: 0px 15px 15px 0px;
    border: solid 1px #0065FC;
    background-color: #0065FC;
    padding: 5px;
    color: white;
    align-items: center;
    justify-content: center;
    width: 137px;
    font-weight: bold;

}

#zoneRecherche{
    display: flex;   
    border: solid 1.5px #F2F2F2;  
    width: 185px;
    
}

.filtres {
    display: flex;
    flex-direction:row;
    
    
}

.filtres ul{    
    display: flex;
    padding-left: 10px;
    gap: 15px;
     
}

.filtres h3{    
    padding-top: 8px;
    margin-right: 10px;
     
}


.filtres li{ 
    list-style: none;
    border:solid 2px #F2F2F2;
    text-align: center;
    padding: 10px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 25px;
    
    
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    
    
    
    
    
   
}
.filtres .fa-solid{
    margin-right: 5px;
    
    
    
    
}

.filtres .fa-solid.fa-person{
    font-size: 20px; 
    
    

}



.filtres p{
    display: flex;

}

.filtres p .fa-solid{
    border:solid 2px #F2F2F2;
    border-radius:80%;
    padding: 3px;
    width: 100px;
    text-align: center;
    
}

.filtres li:hover{
    background-color: #DEEBFF;
}


.info{
    display: flex;
    gap: 10px;
}
.info p{
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 30px;
    
}
.info .fa-solid{
    border:solid 2px #F2F2F2;
    border-radius:50%;
    padding: 3px;
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}


.Activités {
    display: flex;
	flex-direction: row;  
    flex-wrap: wrap;
	width: 90%;
	margin-left: 40px;  
    margin-top: 80px;
    margin-bottom: 100px;
}


 

.Activités .card {
    background-color: white;
    border-radius: 20px;
	width: 30%;
	height: 300px;
	
    
   
}

.Activités-cards .card {
    display: flex;
    width: 300px;
    height: 420px;
    
    flex-direction: column;
    padding: 0; 
}

.Activités-cards img {
    width: 300px;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    

    
}

.Activités-cards{   
    display: flex;
    height: fit-content;
    flex-direction: row;
    margin-right: 25px;
    margin-top: 33px;
    gap: 20px;
    
    
}

.Activités-cards .card-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    
    
}





.footer{
    background-color: #F2F2F2 ;
    display: flex;
    flex-direction: row;
    gap: 235px;
    
    
    
}
.footer-lien{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    
       
}

.footer-lien li{
    display: flex;
    list-style: none;
    padding-bottom: 13px; 
    
    
}

.footer-lien ul{
    padding-inline-start: 0px;
    margin-top: 0px;
    
}











/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filtres {
        flex-direction: column;
        
        
    }
    .filtres h3{
        margin-bottom: 6px;
    }

    .filtres ul{
        padding-left: 0px;
    }

    .Activités{
        margin-left: 30px;
    }

    

    .Activités-cards .card{   
        width: 190px;
        height: 250px;      
    }

    .Activités-cards img{
        width: 190px;
        height: 180px;
        min-height: 180px;
        
    }

    .Activités-cards .card-content {
        display: flex;
        flex-direction: column;
    }

    .footer{
        gap: 80px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}