/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;    
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
	flex-direction: column;
	width: 65%;
	
}

.hebergements-cards{   
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
}

.hebergements-cards a{
    width: 30%;
    height: 50%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hebergements-cards img {
    width: 100%;
    height: 55%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 15px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    height: 45%;
    width: 100%;
}



.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: 13px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
}




.hebergements .section-title{
    padding-left: 3px;
    padding-bottom: 15px;
}

.plus{
    font-weight: bold;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 10px;  
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 20px;
}

.populaires-cards img {
    width: 33%;
    height: 145px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 60px;
}

#menu{
    display: flex;
    gap: 40px;
    list-style: none;
}
#menu li{
    border-top: 1px solid transparent;
}


#menu li:hover{
    border-top: 1px #0065FC solid;
    color: #0065FC;  
}

.recherche h2 {
    font-size: 21px;
}

.recherche form{
    display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 600px;
    height: 42px;   
}

.fa-location-dot{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
    border:solid 1px #F2F2F2;
    background-color: #F2F2F2;
    padding: 5px;
    width: 38px;
    height: 35px;
}

#buttonRecherche{
    display: flex;
    border-radius: 0px 15px 15px 0px;
    border: solid 1px #0065FC;
    background-color: #0065FC;
    padding: 5px;
    color: white;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 47px;
    font-weight: 500;
    font-size: 16px;
}

#buttonRechercheMobile{
    display: none;
}

#zoneRecherche{
    display: flex;   
    border: solid 2px #F2F2F2;  
    width: 185px;
    height: 41px;
    font-weight: 800;
    font-size: 17px;
    outline: none;
}

.filtres {
    display: flex;
    flex-direction:row;  
}

.filtres ul{    
    display: flex;
    padding-left: 10px;
    gap: 15px;    
}

.filtres h3{    
    padding-top: 8px;
    margin-right: 10px; 
}


.filtres li{ 
    list-style: none;
    border:solid 2px #F2F2F2;
    text-align: center;
    padding: 10px;
    padding-left: 17px;
    padding-right: 20px;
    border-radius: 25px;
    font-weight: bold;
    height: fit-content;
    width: fit-content; 
}
.filtres .fa-solid{
    margin-right: 10px;
    font-size: 20px;   
}

.filtres .fa-solid.fa-person{
    font-size: 20px;
    margin-left: 5px; 
}

.filtres p{
    display: flex;
}

.filtres p .fa-solid{
    border:solid 2px #F2F2F2;
    border-radius:80%;
    padding: 3px;
    width: 100px;
    text-align: center; 
}

.filtres li:hover{
    background-color: #DEEBFF;
}


.info{
    display: flex;
    gap: 10px;
}

.info .fa-solid{
    border:solid 2px #F2F2F2;
    border-radius:50%;
    padding: 7px;
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 25px;
}


.Activités {
    display: flex;
	flex-direction: column;  
    flex-wrap: wrap;  
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 20px;
    width: 100%;
}


 .Activités h2 {
    margin-left: 10px;
 }

.Activités .card {
    background-color: white;
    border-radius: 20px;
    margin: 15px; 
}

.Activités-cards .card {
    display: flex;
    width: 92%;
    height: 420px;
    flex-direction: column;
    padding: 0; 
}

.Activités-cards img {
    width: 100%;
    height: 84%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
}



.Activités-cards{   
    display: flex;
    height: fit-content;
    margin-top: 33px;
    width: 100%;
}

.Activités-cards a{
    width: 24%;
    height: 50%;
}

.Activités-cards .card-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;  
}





.footer{
    background-color: #F2F2F2 ;
    display: flex;
    flex-direction: row;
    gap: 215px; 
}

.footer-lien{
    display: flex;
    flex-direction: column;
    margin-left: 25px;    
}

.footer-lien li{
    display: flex;
    list-style: none;
    padding-bottom: 13px;   
}

.footer-lien ul{
    padding-inline-start: 0px;
    margin-top: 0px;  
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .recherche h2{
        font-size: 2.2vw;
        margin-top: 3vw;
        margin-bottom: 1vw;
    }

    .recherche p{
        font-size: 1.6vw;
        margin-top: 1vw;
        margin-bottom: 1.5vw;
    }

    .recherche  form {
        height: 8vw;
        width: 70vw; 
    }

    .fa-location-dot{
        width: 5vw;
        height: 6.2vw;
        font-size: 2vw;
        padding: 0;
        border-radius: 2vw 0vw 0vw 2vw;
    }

    #zoneRecherche{
        height: 6vw;
        padding: 0;
        width: 18.5vw;
        font-size: 1.7vw;
    }

    #buttonRecherche{
        width: 13.5vw;
        height: 6.4vw; 
        border-radius: 0vw 2vw 2vw 0vw;
        font-size: 1.8vw; 
    }

    .filtres {
        flex-direction: column;   
    }
    .filtres h3{
        margin-top: 1vw;
        margin-bottom: 1vw;
        font-size: 2vw;
    }

    .filtres ul{
        padding-left: 0px;
        gap: 1.7vw;
        margin: 0;
    }

    .filtres li {
    border: solid 0.3vw #F2F2F2;
    font-size: 2vw;
    height: 2vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-radius: 3vw;
    padding-left: 1.8vw;
    }

    .filtres .fa-solid{
        font-size: 2.2vw;
        margin-right: 1vw;
    }

    .filtres .fa-solid.fa-person{
        font-size: 2.4vw;
    }

    .info{
        margin-top: 2vw;
        margin-bottom: 4vw;
    } 

    .info .fa-solid{
        width: 2vw;
        height: 2vw;
        font-size: 1.5vw;
        border-radius: 2vw;
        margin-bottom: 0;
        border: solid 0.2vw #F2F2F2;
        margin-top: 0.7vw;
        padding: 5px;
    }

    .info p{
        font-size: 1.9vw;
        margin-left: 0vw;
        margin-bottom: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements-and-populaires section{
        padding: 2vw;
        border-radius: 2.5vw;
    }

    .hebergements {
        width: 100%;   
    }

    .hebergements-cards{
        gap: 3vw;
        margin-left: 0;
    }

    .hebergements .card{
        width: 24vw;
        height: 20vw;
        border-radius: 2.5vw;
        min-width: 0;
        padding: 0.4vw;
    }

    .hebergements-cards img{
        height: 52%;
    }

    .hebergements-cards .card-title{
        font-size: 1.5vw;
    }

    .hebergements-cards .card-subtitle{
        font-size: 1.5vw;
    }

    .hebergements-cards .card-rating{
        font-size: 2vw;
    }

    .plus{
        margin-top: 3vw;
        margin-right: 0;
        margin-bottom: 1vw;
        font-size: 2vw;
    }


    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-title{
        margin-bottom: 0px;
    }

    .populaires .section-title{
        font-size: 2vw;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 1.4vw;
    }

    .populaires-cards .card-subtitle {
        font-size: 1.2vw;
    }

    .populaires-cards .card-rating{
        font-size: 1.5vw;
    }

    .Activités{
        margin-left: 1.5vw;
    }

    .Activités-cards .card{   
        width: 18.5vw;
        height: 25vw;      
    }

    .Activités-cards img{
        width: 18.5vw;
        height: 18vw; 
    }

    .Activités-cards .card-content h3 {
        font-size: 1.5vw;
        margin-top: 2.5vw;
        margin-bottom: 1vw;
        margin-left: 0.5vw;
    }

    .footer{
        gap: 8.5vw;
    }

    .footer-lien{
        margin-left: 1.5vw;
    }

    .footer-lien h3{
        font-size: 2vw;
    }

    .footer-lien li{
        font-size: 1.6vw;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body{
        margin: 0px;
    }

    .main-container{
        padding: 0px;
    }
    
    nav{    
        display: flex;
        flex-direction: column;
    }

    #logo{
        width: 13vw;
        align-items: center;
        margin-top: 7vw;
    }

    #menu{
        width: 100%;
        margin-top: 7vw;
        padding-left: 0px;
        gap: 0px;
        align-items: center;      
    }

    #menu li{
        border-bottom: #F2F2F2 solid 2px;
        width: 50%;
        text-align: center;
        padding-bottom: 3vw;
        font-size: 4vw;
        padding-left: 4%;      
    }

    #menu li:hover{
        border-bottom: 2px #0065FC solid;
        color: #0065FC;
        border-top: 0;     
    }

    .recherche h2{ 
        font-size: 6vw;
        margin-bottom: 3vw;
        margin-left: 7vw; 
    }

    .recherche p{
        font-size: 4.3vw;
        margin-left: 7vw;
        margin-bottom: 8vw;
        margin-top: 0;
    }

    .recherche  form {
        height: 13vw;
        width: 95vw;
        margin-left: 7vw; 
    }

    .fa-location-dot{
        width: 12vw;
        height: 11vw;
        font-size: 4vw;
        padding: 0;
        border: solid 2px #F2F2F2;
        border-radius: 3.5vw 0vw 0vw 3.5vw;
    }

    #zoneRecherche{
        height: 11vw;
        padding: 0;
        border: solid 2px #F2F2F2;
        width: 79vw;
        font-size: 5vw;
    }

    #buttonRecherche{
        display: none;
    }

    #buttonRechercheMobile{
        display: flex;
        height: 12vw;
        width: 14vw;
        border-radius: 4vw 4vw 4vw 4vw;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 10px 6px;
        position: relative;
        right: 5vw;
        border: solid 1px #0065FC;
        background-color: #0065FC;
        padding: 0;
        color: white;
        align-items: center;
        justify-content: center; 
    }

    #buttonRechercheMobile .fa-solid{
        font-size: 4vw;
        color: white;
    }

    .filtres{
        margin-left: 8vw;
    }

    .filtres h3{
        font-size: 4vw;
    }
    
    .filtres ul{
        flex-wrap: wrap;
        align-content: space-between;
    }

    .filtres li{
        width: 35vw;
        font-size: 3vw;
        border-radius: 10vw;
        padding-top: 2vw;
        padding-left: 0px;
        padding-bottom: 5.5vw;   
    }

    .filtres .fa-solid{
        font-size: 4.5vw;
        margin-right: 3vw;  
    }

    .filtres .fa-solid.fa-person {
        font-size: 4.5vw;
        margin-left: -5vw;
    }

    .info{
        margin-left: 7vw;
        margin-top: 5vw;
        margin-bottom: 4vw;
    }

    .info .fa-solid{
        width: 6vw;
        height: 4vw;
        font-size: 3vw;
        padding-top:1.3vw;
        border-radius: 4vw;
        margin-bottom: 0;
        margin-top: 1.5vw;
        border: solid 0.4vw #F2F2F2;
        
        
    }

    .info p{
        font-size: 4vw;
        margin-left: 2vw;
        margin-bottom: 0;
    }


    .hebergements-and-populaires section{
        padding: 0;
        border-radius: 0px;    
    }


    .populaires{
        order: 1;
        width: 100%;
        margin-top: 6vw;    
    }

    .populaires .populaires-cards{
        flex-direction: column;
        margin-left: 7vw;
        padding-bottom: 7vw;   
    }

    .populaires .populaires-title{
        margin-top: 6vw;
    }

    .populaires .populaires-title h2{
        margin-left: 7vw;
        font-size: 5.6vw;  
    }

    .populaires .populaires-title .fa-solid{
        margin-right: 9vw;
        font-size: 4vw;
    }
    

    .populaires .card{
        width: 82vw;
        padding: 1vw;
        border-radius: 3vw;
    }

    .populaires-cards .card-content{
        width: 55vw;
        padding-left: 3vw;   
    }

    .populaires-cards .card-txt p {
       font-size: 3.5vw; 
    }

    .populaires-cards .card-rating{
        font-size: 3vw;
    }

    .populaires .card img{
        width: 28vw;
        height: 38vw;
        border-top-left-radius: 2vw;
        border-bottom-left-radius: 2vw;
    }

    .populaires-cards .card-title{
        font-size: 4vw;
    }

    .populaires-cards a{
        width: 70vw;  
    }

    .populaires-cards .card-subtitle {
        font-size: 22px;
    }

    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergements{
        margin: 0;
        order: 2;
    }

    .hebergements .section-title{
        font-size: 5.5vw;
        margin-bottom: 4vw;
        margin-top: 8vw;
        margin-left: 7vw;
        width: 70vw;
    }

    .hebergements-cards{
        flex-direction: column;
        width: 82vw;
        margin-left: 7vw;  
    }
    
    .hebergements-cards .card{
        width: 82vw;
        height: 45vw;
        border-radius: 3vw;
    }

    .hebergements-cards img{
        width: 82vw;
        height: 28vw;
        border-top-left-radius: 3vw;
        border-top-right-radius: 3vw;
    }

    .hebergements-cards .card-content{
        padding-left: 2vw;
    }

    .hebergements-cards .card-content .card-txt{
        font-size: 4vw;
    }
    .hebergements-cards .card-content .card-txt .card-title{
        font-size: 4vw;
    }

    .hebergements-cards .card-content .card-rating{
        font-size: 4vw;
    }

    .hebergements-cards .card-subtitle{
        font-size: 4vw;
    }

    .plus{
        font-size: 4vw;
        margin-left: 7vw;
    }

    .Activités{
        margin-left: 0;
        width: 100%;
        margin-top: 8vw;
        margin-bottom: 15vw;
    }

    .Activités .section-title{
        font-size: 6vw; 
        margin-bottom: 3vw;
        margin-left: 9vw; 
    }

    .Activités-cards{
        flex-direction: column;
        width: 82vw;
        margin-top: 0;
        gap: 2vw;
        margin-right: 0;
        margin-left: 7vw;   
    }

    .Activités .card {
        width: 82vw;
        height: 50vw;
        margin-top: 3vw;
        border-radius: 3vw;
    }

    .Activités img{
        width: 82vw;
        height: 37vw;
        border-top-left-radius: 3vw;
        border-top-right-radius: 3vw;
        min-height: 0;
    }

    .Activités-cards .card-content{
        padding-left: 3vw;
        margin: 1vw;
        height: 10vw;
    }

    .Activités .card-content .card-title{
        font-size: 4vw;
        margin-left: 0;
    }

    .footer {
        flex-direction: column;
        margin: 0; 
        width: 100%;
        gap: 0;
        font-size: 3vw;
    }
    
    .footer-lien{
        margin-left: 7vw;
        margin-bottom: 2vw;
    }

    .footer-lien ul{
        margin-bottom: 0;
        
    }

    .footer-lien li{
        font-size: 4vw;
        
    }

    .footer-lien h3{
        font-size: 4vw;
    }

}